# 3. Why some pandas commands end with parentheses, and other commands don't

video: https://www.youtube.com/watch?v=hSrDViyKWVk&index=4&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y

In [1]:
import pandas as pd

In [5]:
movies = pd.read_table('http://bit.ly/imdbratings', sep = ',')

In [ ]:
#top 5 rows
movies.head()

In [ ]:
# statistical information for the numeric columns
movies.describe()

In [ ]:
# shape of Dataframe
movies.shape

In [ ]:
# datatype of each series (column)
movies.dtypes

### Answer: This is because "Movies" is a Dataframe which give it certain attributes because it is a Dataframe object. <br />

1. The methods (functions for objects) are the ones with parentheses.
    * Methods are a little bit like actions 
2. The attributes are the ones without parentheses.
    * Attributes are a little like description of who you are

Notes:

In [ ]:
# this is neither a method or an attribute it is just a pandas function
pd.read_csv

In [22]:
# some method have optional arguments
movies.describe(include =['object'])

,title,content_rating,genre,actors_list
count,979,976,979,979
unique,975,12,16,969
top,Les Miserables,R,Drama,"[u'Daniel Radcliffe', u'Emma Watson', u'Rupert..."
freq,2,460,278,6

#### Note: In iPython Notebook you can use shift + tab to see the arguments or a function or method