# When should I use the "inplace" parameter in pandas?

video : https://www.youtube.com/watch?v=XaCSdr7pPmY&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=20

In [1]:
import pandas as pd

In [2]:
ufo = pd.read_csv('http://bit.ly/uforeports')

In [3]:
ufo.iloc[0:5,:]

                   City Colors Reported Shape Reported State             Time
0                Ithaca             NaN       TRIANGLE    NY   6/1/1930 22:00
1           Willingboro             NaN          OTHER    NJ  6/30/1930 20:00
2               Holyoke             NaN           OVAL    CO  2/15/1931 14:00
3               Abilene             NaN           DISK    KS   6/1/1931 13:00
4  New York Worlds Fair             NaN          LIGHT    NY  4/18/1933 19:00

In [4]:
ufo.drop('City', axis = 1).head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [8]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [ ]:
ufo.drop('City', axis = 1, inplace=True)

In [10]:
ufo.head()

  Colors Reported Shape Reported State             Time
0             NaN       TRIANGLE    NY   6/1/1930 22:00
1             NaN          OTHER    NJ  6/30/1930 20:00
2             NaN           OVAL    CO  2/15/1931 14:00
3             NaN           DISK    KS   6/1/1931 13:00
4             NaN          LIGHT    NY  4/18/1933 19:00

In [12]:
ufo.dropna(how='any').shape

(2490, 4)

In [13]:
ufo.shape

(18241, 4)

In [ ]:
#Equivalent
ufo.set_index('Time', inplace = True)
ufo = ufo.set_index('Time')

### Bonus

In [16]:
ufo.fillna(method ='ffill').tail

<bound method NDFrame.tail of                  Colors Reported Shape Reported State
Time
6/1/1930 22:00               NaN       TRIANGLE    NY
6/30/1930 20:00              NaN          OTHER    NJ
2/15/1931 14:00              NaN           OVAL    CO
6/1/1931 13:00               NaN           DISK    KS
4/18/1933 19:00              NaN          LIGHT    NY
9/15/1934 15:30              NaN           DISK    ND
6/15/1935 0:00               NaN         CIRCLE    CA
7/15/1936 0:00               NaN           DISK    MI
10/15/1936 17:00             NaN          CIGAR    AK
6/15/1937 0:00               NaN       CYLINDER    OR
8/15/1937 21:00              NaN          LIGHT    CA
6/1/1939 20:00               NaN       FIREBALL    AL
6/30/1939 20:00              RED         SPHERE    SC
7/7/1939 2:00                RED           OVAL    IA
6/1/1941 13:00               RED           DISK    MI
7/2/1941 11:30               RED         CIRCLE    CA
2/25/1942 0:00               RED         CIRCLE    CA
6/1/1942 22:30               RED         CIRCLE    GA
7/15/1942 1:00               RED      RECTANGLE    TN
4/30/1943 23:00              RED          OTHER    AK
6/1/1943 15:00               RED           DISK    NE
8/15/1943 0:00               RED           DISK    LA
8/15/1943 0:00               RED          LIGHT    LA
10/15/1943 11:00             RED      RECTANGLE    KY
1/1/1944 10:00               RED           DISK    WV
1/1/1944 12:00               RED          CIGAR    CA
1/1/1944 12:00               RED           DISK    WV
4/2/1944 11:00               RED           DISK    NM
6/1/1944 12:00               RED           DISK    NM
6/30/1944 10:00              RED           DISK    UT
...                          ...            ...   ...
12/28/2000 18:00            BLUE        DIAMOND    MA
12/28/2000 18:20            BLUE           DISK    CA
12/28/2000 19:10           GREEN       FIREBALL    CA
12/29/2000 0:00            GREEN      FORMATION    TX
12/29/2000 9:00            GREEN          OTHER    TX
12/29/2000 16:10          ORANGE          LIGHT    CA
12/29/2000 19:30          ORANGE       TRIANGLE    CO
12/29/2000 20:00          ORANGE        DIAMOND    TX
12/29/2000 20:30          ORANGE        CHEVRON    CA
12/29/2000 20:30            BLUE           DISK    CA
12/29/2000 20:50            BLUE           DISK    NH
12/29/2000 21:00            BLUE          OTHER    PA
12/29/2000 22:00            BLUE          OTHER    SC
12/29/2000 23:30            BLUE           DISK    OK
12/30/2000 10:00            BLUE      FORMATION    CA
12/30/2000 22:00            BLUE      FORMATION    CA
12/30/2000 22:00            BLUE       TRIANGLE    CA
12/31/2000 4:00             BLUE          LIGHT    TX
12/31/2000 11:45            BLUE           DISK    IL
12/31/2000 20:00            BLUE           OVAL    CA
12/31/2000 20:00            BLUE           OVAL    CA
12/31/2000 20:30            BLUE           OVAL    WI
12/31/2000 21:00             RED        VARIOUS    AK
12/31/2000 22:00             RED       TRIANGLE    CA
12/31/2000 23:00             RED       TRIANGLE    AZ
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED           DISK    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             RED           OVAL    FL

[18241 rows x 3 columns]>

In [17]:
ufo.fillna(method ='bfill').tail

<bound method NDFrame.tail of                  Colors Reported Shape Reported State
Time
6/1/1930 22:00               RED       TRIANGLE    NY
6/30/1930 20:00              RED          OTHER    NJ
2/15/1931 14:00              RED           OVAL    CO
6/1/1931 13:00               RED           DISK    KS
4/18/1933 19:00              RED          LIGHT    NY
9/15/1934 15:30              RED           DISK    ND
6/15/1935 0:00               RED         CIRCLE    CA
7/15/1936 0:00               RED           DISK    MI
10/15/1936 17:00             RED          CIGAR    AK
6/15/1937 0:00               RED       CYLINDER    OR
8/15/1937 21:00              RED          LIGHT    CA
6/1/1939 20:00               RED       FIREBALL    AL
6/30/1939 20:00              RED         SPHERE    SC
7/7/1939 2:00                RED           OVAL    IA
6/1/1941 13:00               RED           DISK    MI
7/2/1941 11:30               RED         CIRCLE    CA
2/25/1942 0:00               RED      RECTANGLE    CA
6/1/1942 22:30               RED      RECTANGLE    GA
7/15/1942 1:00               RED      RECTANGLE    TN
4/30/1943 23:00              RED          OTHER    AK
6/1/1943 15:00               RED           DISK    NE
8/15/1943 0:00               RED          LIGHT    LA
8/15/1943 0:00               RED          LIGHT    LA
10/15/1943 11:00             RED      RECTANGLE    KY
1/1/1944 10:00               RED           DISK    WV
1/1/1944 12:00               RED          CIGAR    CA
1/1/1944 12:00               RED           DISK    WV
4/2/1944 11:00               RED           DISK    NM
6/1/1944 12:00               RED           DISK    NM
6/30/1944 10:00              RED           DISK    UT
...                          ...            ...   ...
12/28/2000 18:00           GREEN        DIAMOND    MA
12/28/2000 18:20           GREEN           DISK    CA
12/28/2000 19:10           GREEN       FIREBALL    CA
12/29/2000 0:00           ORANGE      FORMATION    TX
12/29/2000 9:00           ORANGE          OTHER    TX
12/29/2000 16:10          ORANGE          LIGHT    CA
12/29/2000 19:30            BLUE       TRIANGLE    CO
12/29/2000 20:00            BLUE        DIAMOND    TX
12/29/2000 20:30            BLUE        CHEVRON    CA
12/29/2000 20:30            BLUE           DISK    CA
12/29/2000 20:50             RED           DISK    NH
12/29/2000 21:00             RED          OTHER    PA
12/29/2000 22:00             RED           DISK    SC
12/29/2000 23:30             RED           DISK    OK
12/30/2000 10:00             RED      FORMATION    CA
12/30/2000 22:00             RED      FORMATION    CA
12/30/2000 22:00             RED       TRIANGLE    CA
12/31/2000 4:00              RED          LIGHT    TX
12/31/2000 11:45             RED           DISK    IL
12/31/2000 20:00             RED           OVAL    CA
12/31/2000 20:00             RED           OVAL    CA
12/31/2000 20:30             RED        VARIOUS    WI
12/31/2000 21:00             RED        VARIOUS    AK
12/31/2000 22:00             RED       TRIANGLE    CA
12/31/2000 23:00             RED       TRIANGLE    AZ
12/31/2000 23:00             RED       TRIANGLE    IL
12/31/2000 23:00             RED           DISK    IA
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:45             RED          LIGHT    WI
12/31/2000 23:59             NaN           OVAL    FL

[18241 rows x 3 columns]>