# 29. How do I create a pandas DataFrame from another object?

video : https://www.youtube.com/watch?v=-Ov1N1_FbP8&list=PL5-da3qGB5ICCsgW1MxlZ0Hq8LL5U3u9y&index=29

In [1]:
import pandas as pd

In [18]:
df = pd.DataFrame({'id': [100,101,102], 'color': ['red','blue','red']}, columns = ['id','color'], index = ['a','b','c'])

### What if data is in a different shape?

In [7]:
pd.DataFrame([[100,'red'],[101, 'blue'],[102, 'red']], columns = ['id','color'], index = ['a','b','c'])

    id color
a  100   red
b  101  blue
c  102   red

### Convert numpy array to DataFrame

In [8]:
import numpy as np

In [10]:
arr = np.random.rand(4,2)
arr

array([[ 0.15997349,  0.15158512],
       [ 0.6263991 ,  0.8983964 ],
       [ 0.86195914,  0.87938371],
       [ 0.60025065,  0.61629433]])

In [11]:
pd.DataFrame(arr, columns = ['one','two'])

        one       two
0  0.159973  0.151585
1  0.626399  0.898396
2  0.861959  0.879384
3  0.600251  0.616294

In [15]:
#np.arange(inclusive, exclusive, step)
#np.random.randint (min, max(exclusive), number)
pd.DataFrame({'student':np.arange(100,110,1), 'test': np.random.randint(60,101,10)}).set_index('student')

         test
student
100        77
101        82
102        71
103        80
104        70
105        61
106        68
107        80
108        68
109        85

### Bonus: Create a new series an attach it to an exisiting DataFrame

In [17]:
sr = pd.Series(['round','square'], index=['c','b'], name ='shape')

In [21]:
df

c     round
b    square
Name: shape, dtype: object

In [22]:
pd.concat([df,sr], axis = 1)

    id color   shape
a  100   red     NaN
b  101  blue  square
c  102   red   round